'.text.html':

  'Row':
    'prefix': 'row'
    'body': """
    <div class="row">
    \t$0
    </div>
    """

  'Grid-container':
    'prefix': 'grid-container'
    'body': """
    <div class="grid-container">
    \t<div class="grid-x">
    \t\t$0
    \t</div>
    </div>
    """

  'Grid-x':
    'prefix': 'grid-x'
    'body': """
    <div class="grid-x">
    \t<div class="cell">
    \t\t$0
    \t</div>
    </div>
    """

  'Grid-y':
    'prefix': 'grid-y'
    'body': """
    <div class="grid-y" style="height: ${200:1-1000}px;">
    \t<div class="cell">
    \t\t$0
    \t</div>
    </div>
    """

  'Combined Column/Row':
    'prefix': 'row-column'
    'body': """
    <div class="column row">
    \t$0
    </div>
    """

  'Fluid Row':
    'prefix': 'flud-row'
    'body': """
    <div class="expanded row">
    \t$0
    </div>
    """

  'Small Grid':
    'prefix': 'small-'
    'body': """
    <div class="small-${1:1-12} columns">
    \t$0
    </div>
    """

  'Medium Grid':
    'prefix': 'medium-'
    'body': """
    <div class="medium-${1:1-12} columns">
    \t$0
    </div>
    """

  'Large Grid':
    'prefix': 'large-'
    'body': """
    <div class="large-${1:1-12} columns">
    \t$0
    </div>
    """
  'XLarge Grid':
    'prefix': 'xlarge-'
    'body': """
    <div class="xlarge-${1:1-12} columns">
    \t$0
    </div>
    """
  'XXLarge Grid':
    'prefix': 'xxlarge-'
    'body': """
    <div class="xxlarge-${1:1-12} columns">
    \t$0
    </div>
    """
