'.source.scss':

  'Import Foundation':
    'prefix': 'foundation'
    'body': "@import 'foundation';"

  'Everything Foundation':
    'prefix': 'foundation-everything'
    'body': """
    @import 'foundation';

    @include foundation-everything;
    """

  '@media Foundation':
    'prefix': 'media-foundation'
    'body': """
    @include breakpoint(${1:small}) {
    \t$2
    }
    """

  'Breakpoint':
      'prefix': 'breakpoint'
      'body': """
      @include breakpoint(${1:small}) {
      \t$2
      }
      """

  'Calculate rem':
    'prefix': 'rem-calc'
    'body': 'rem-calc($1)'
